@CHARSET "ISO-8859-1";
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
ul { margin-left: 0; }
label { display: inline-block; margin-right: 8px; }
button.selected { font-weight: bold; vertical-align: top }
/*textarea { font-family: monospace; }*/
input[type=color] { width: 40px; padding: 0; margin: 0; height: 20px; position: relative; top: 2px;}
input[type=radio] { margin-top: -3px; }

.canvas-container { margin: 0 auto; border: 1px solid #aaa; margin-top:65px; margin-left:102px;}/*canvas*/

.svg-shapes { overflow: hidden; width: 450px; margin-left: 0; }
.svg-shapes li { display: inline-block; margin-bottom: 5px; }

.tabs li, .tabs li a { display: inline-block; }
.btn-lock { margin-bottom: 3px; }

#object-controls-pane { width: 450px }
#bd-wrapper {/*overflow: hidden; position: relative; margin-top:38px;*/}
#fps { position: absolute; left: 1px; top: 0; background: rgb(200,200,200); width: 70px; z-index: 1000; }
/*#commands { float: left; font-size: 14px; margin-left: 10px; width:400px;}collection*/
#commands ul { list-style: none; padding-left: 0; }
#complexity { clear: both; padding-top: 10px; }
#color-opacity-controls { margin-bottom: 5px; }

#text-controls { display: inline-block; vertical-align: top; margin-left: 10px; border: 1px dotted #ccc; padding: 10px; width: 220px; }
#text-controls textarea { float: left; margin-right: 10px; }

#text-controls-additional { display: inline-block; vertical-align: top; border: 1px dotted #ccc; padding: 10px; }
#text-controls-additional button { vertical-align: top; display: block; margin-bottom: 7px; }

#drawing-mode-options { margin-top: 5px; background: #ffc; padding: 5px; border: 1px solid #aaa; }
#text { position: relative; width: 300px; height: 200px; }
#text-cmd-linethrough { text-decoration: line-through; }
#text-cmd-underline { text-decoration: underline; }
#text-cmd-overline { text-decoration: overline; }
#text-cmd-italic { font-style: italic; }
#text-cmd-shadow { text-shadow: rgb(100,100,100) 1px 1px 3px; }

#svg-console, #canvas-console { width: 430px; height: 500px; display: block; }

#canvas-background { display: inline-block; position: absolute; top: 0; right: 0; }

#tab-left {
	float:left;
	width:250px;
	/*border-right:1px solid #ccc;*/
	min-height:480px;
    /*padding-left: 20px;*/
}



.design-color li {
	display:block;
	width:18px;
	height:18px;
	float:left;
	border:2px solid #999;
	cursor:pointer;
	border-radius:10px;
	margin-right:2px;
}

.design-color li#grey{
	background-color:rgb(170,170,170);
}

.design-color li#black{
	background-color:rgb(0,0,0);
}

.design-product li{
	float:left;
	border:1px solid #333;
	/*cursor:pointer;*/
}

.design-product li#chooseProduct1{
	/*border-radius:5px 0 0 5px;*/
	padding:2px 20px 2px 20px;
}

.design-product li#chooseProduct2{
	border-radius:0 5px 5px 0;
	padding:2px 20px 2px 20px;
	cursor:pointer;
	background-color:#F4F4F4;
}

.design-product li#chooseProduct2:hover{
	background-color:#CCC;
}

.layout-left h5 {
	margin-top:5px;
}

.view-click-back, .view-click-front {
	margin-top:10px;
	cursor:pointer;
	width:50%;
	border:1px solid #999;
	border-radius:5px;
	padding:2px;
}

.view-click-back:hover, .view-click-front:hover {
	color:#018AB6;
	background-color:#CCC;
}

.view-click-front {
	display:none;
}

.back-logo, .front-logo {
	display:inline-block;
	width:32px;
	height:32px;
	float:right;
	padding:2px;
}

.back-logo{
	background-image:url(../img/shirt/back-small.png);
	background-repeat:no-repeat;
}

.front-logo {
	background-image:url(../img/shirt/front-small.png);
	background-repeat:no-repeat;
}

.txt-view {
	float:left;
	padding:8px 0 5px 5px;
}

.remove-object {
	border:1px solid #CCC; 
	height:24px; 
	width:24px; 
	background-image:url(../img/icons/remove.png);
	cursor:pointer;
	float:left;
}

.clear-canvas {
	border:1px solid #CCC; 
	height:24px; width:24px; 
	background-image:url(../img/icons/clear-32.png);
	cursor:pointer;
	float:left;
}

.save-design {
	border:1px solid #CCC; 
	height:24px; width:24px; 
	background-image:url(../img/icons/save.png);
	cursor:pointer;
	float:right;
}

.remove-object:hover, .clear-canvas:hover, .save-design:hover{
	border:1px solid #666;	
}

.tool-control {
	margin-top:5px;
	text-align:center;
}

#shirt-position {
	float:left;
    width:500px;
    height:600px;
    background-color:#ffffff;
    background-image:url(../img/shirt/front-white.png);
    background-repeat:no-repeat;
    background-size:cover;
	margin-bottom:25px;
}

#collection-unit {
	margin:10px;
}

.canvas-front {
	margin-top:5px;
}

.canvas-front input {
	width:90%;
}

#color-opacity-controls {
	margin-top:10px;
}

.collectionDisplayArea {
	cursor:pointer;
	background: rgb(239, 239, 239);
	border: 0 solid rgb(81, 81, 81);
	border-radius: 10px;
	clear: both;
	width: 100%;
    overflow-y:auto;
	height:500px;
	margin-top:5px;
}

.collectionDisplayArea.disable {
	cursor:default;
}

.eachCollectionArea {
    background: rgb(255, 255, 255);
    border-radius: 5px;
	height: 130px;
	margin: 5px auto 0;
    padding: 5px;
	width: 95%;
}

.eachCollectionArea:hover {
	color:#008AB5;	
}

.previewThumbnail {
    
	
	background: rgb(255, 255, 255);
	border: 0 solid rgb(40, 40, 40);
	box-shadow: rgb(197, 197, 197) 1px 1px 3px 1px;
	float: left;
	margin: 10px 0 0 5px;
	width: 80px;
    height: 80px;

}

#more-dots {
	color: rgb(81, 81, 81);
	display:block;
	float: left;
	font: 900 2em arial;
	height:80px;
	line-height: 1em;
	margin-left:5px;
	margin-top:10px;
	cursor:pointer;
	padding:20px 5px;
}

.collectionHeader {
	margin: 10px 0 0 10px;
}

.imageThumbnail {

	background: rgb(255, 255, 255);
	border: 0 solid rgb(40, 40, 40);
	box-shadow: rgb(197, 197, 197) 1px 1px 3px 1px;
	float: left;
	height: 100px;
	margin: 10px 0 0 10px;
	width: 100px;
}

#backButton {
    margin:0;
	float:right;
}

.moreDesignHeader {
    
    padding-top:10px;
    font: 500 1em arial;
    clear:both;
    
}


.canvas-container{
     margin-left:160px;
     margin-top:120px;
}

#collection_main_container{
    float:left;
    width:350px;
}

.position-design {
	margin-left:20px;
	
}

#text-word-show {
	width:160px;
}

.previewThumbnail, .imageThumbnail {
	cursor:pointer;
}

.previewThumbnail:hover,.imageThumbnail:hover, #more-dots:hover {
	background-color:#CCC;
}

.MyCollection {
	margin-left:15px;
	margin-top:20px;
}

.MyCollection div {
	cursor:pointer;
	float:left;
	width:150px;
	min-height:50px;
	border:1px solid #CCC;
}

.MyCollection div:hover {
	color:#999;
}

.quantities label {
	margin-left:15px;
}

.quantities input {
	width:40px;
}
