body {
	padding-bottom: 0;
}
.img-home-portfolio, .img-customer, .portfolio-item {
	margin-bottom: 1px;
}
.tab-pane {
	margin-top: 15px;
}
/* Page Sections */
.section-colored {
	background-color: #e1e1e1;/* change this to change the background color of a colored section */
}
/* Half Page Height Carousel Customization */
.carousel {
	height: 50%;
}
.item, .active, .carousel-inner {
	height: 100%;
}
.fill {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
}
/* Social Icons Styles */
.list-social-icons {
	margin-bottom: 45px;
}
.tooltip-social a {
	text-decoration: none;
	color: inherit;
}
.facebook-link a:hover {
	color: #3b5998;
}
.linkedin-link a:hover {
	color: #007fb1;
}
.twitter-link a:hover {
	color: #39a9e0;
}
.google-plus-link a:hover {
	color: #d14836;
}
/* Service Page Styles */
.service-icon {
	font-size: 50px;
}
/* 404 Page Styles */
.error-404 {
	font-size: 8em;
}
/* Pricing Page Styles */
.price {
	font-size: 4em;
}
.price-cents {
	vertical-align: super;
	font-size: 50%;
}
.price-month {
	font-size: 35%;
	font-style: italic;
}
/* Footer Styles */
footer {
	margin-top: 10px;
	background-color: #808080;
	color: #fff;
	padding-top: 8px;
}

/* Responsive Styles */
@media (max-width: 767px) {
.carousel {
	height: 70%;/* increases the carousel height so it looks good on phones */
}
.design-button {
	width: 50px;
	height: 50px;
	font-size: 2.4em;
	font-weight: 600;
	bottom: 15px;
	right: 15px;
}
}

@media (min-width:768px) {
.design-button {
	width: 70px;
	height: 70px;
	font-size: 3.5em;
	font-weight: 700;
	bottom: 40px;
	right: 30px;
}
}
.design-button {
	background-color: #D73D32;
	border-radius: 40px;
	text-align: center;
	display: block;
	color: #FFF;
	border: 3px solid #CCC;
	position: fixed;
	z-index: 999;
	cursor: pointer;
	padding-top:-10px !important;
}
.design-button:hover {
	background-color: rgba(0,0,0,.2);
}
.nav .navbar-nav .navbar-right li a.menu-pic {
	background-image:url(img/shopping-cart.png);
	background-repeat:no-repeat;
}
.col-bd {
	min-height:150px;
	border-right:2px solid #ccc;
}
.clear {
	clear:both;
}

.header-height {
    height:50px;

}

.brand-color{
    background-color: #008ab5;

}

.yourtshirt-text {
    color: #000000
}

.design-text {
    color: #ffffff
}

.navbar-inverse{
   border-width:0;
}

.submit-design-button {
    background-color:#F7931E;
    color:#fff;

}