﻿<div class="container" ng-controller="CanvasControls">

    <div class="row">

        <div class="col-lg-12">
            <!--<h3 class="page-header">ออกแบบเสื้อของคุณ
                <small>ตามสไตล์ที่คุณชื่นชอบ</small>
            </h3>-->
            <ol class="breadcrumb">
                <!--<li><a href="../#">หน้าแรก</a></li>-->
                <li class="active">ออกแบบเสื้อของคุณ</li>
            </ol>
        </div>


        <div id="myContainer">
            <div class="position-design">

                <div id="tab-left">
                    <input type="hidden" name="view" id="view" value="front" autocomplete="off" />
                    <input type="hidden" name="code" id="code" value="white" autocomplete="off" />
                    <h5><!--Choose Product--></h5>
                    <ul class="design-product">
                        <li id="chooseProduct1" title="T-shirt">T-shirt</li>
                        <li id="chooseProduct2" title="New Deign" onclick="window.location='create.html'">New Deign</li>
                    </ul>
                    <div class="clear"></div>

                    <h5>Design Name</h5>
                    <input type="text" name="NameDesign" class="form-control" id="NameDesign" ng-model="designName" style="width:99%;" />
                    <div class="clear"></div>

                    <h5>Color</h5>
                    <ul class="design-color">
                        <li ng-click="colors('white')" title="white"></li>
                        <li ng-click="colors('grey');" id="grey" title="grey"></li>
                        <li ng-click="colors('black')" id="black" title="black"></li>
                    </ul>
                    <div class="clear"></div>

                    <div class="btn" ng-click="changeview('back')" ng-show="isFrontActive">
                        <div class="txt-view">View Back </div><div class="back-logo"></div>
                        <div class="clear"></div>
                    </div>
                    <div class="btn" ng-click="changeview('front')" ng-hide="isFrontActive">
                        <div class="txt-view">View Front </div><div class="front-logo"></div>
                        <div class="clear"></div>
                    </div>

                    <h5>Add Text</h5>
                    <div class="canvas-front">
                        <input type="text" name="txt-insert" bind-value-to="text" class="form-control" id="text-word-show" value="" />
                        <button onclick="addTexts($('#text-word-show').val());" class="btn btn-object-action" ng-click="addTexts();">Add Text</button>
                        <!--<input type="text" name="txt-insert" bind-value-to="text" class="form-control" id="text-word-show" value="" ng-model="addedTexts"/>
                        <button class="btn btn-object-action" ng-click="addTexts()">Add Text</button>-->
                        <div id="text-wrapper" class="ng-hide" ng-show="getText()">
                            <div>
                                <label for="color">Color: </label>
                                <input type="color" style="width:40px" bind-value-to="fill">
                            </div>

                            <div>
                                <label for="font-family" style="display:inline-block">Font family:</label>
                                <select id="font-family" class="btn-object-action" bind-value-to="fontFamily">
                                    <option value="arial">Arial</option>
                                    <option value="helvetica" selected>Helvetica</option>
                                    <option value="myriad pro">Myriad Pro</option>
                                    <option value="delicious">Delicious</option>
                                    <option value="verdana">Verdana</option>
                                    <option value="georgia">Georgia</option>
                                    <option value="courier">Courier</option>
                                    <option value="comic sans ms">Comic Sans MS</option>
                                    <option value="impact">Impact</option>
                                    <option value="monaco">Monaco</option>
                                    <option value="optima">Optima</option>
                                    <option value="hoefler text">Hoefler Text</option>
                                    <option value="plaster">Plaster</option>
                                    <option value="engagement">Engagement</option>
                                </select>
                            </div>

                            <div>
                                <label for="text-font-size">Font size:</label>
                                <input type="range" value="" min="1" max="120" step="1" id="text-font-size" class="btn-object-action" bind-value-to="fontSize">
                            </div>

                            <div>
                                <label for="text-bg-color">Background color:</label>
                                <input type="color" value="" id="text-bg-color" size="10" class="btn-object-action"
                                       bind-value-to="bgColor">
                            </div>

                            <div>
                                <label for="text-stroke-color">Stroke color:</label>
                                <input type="color" value="" id="text-stroke-color" class="btn-object-action" bind-value-to="strokeColor" />
                                <input type="range" value="1" min="1" max="5" id="text-stroke-width" class="btn-object-action" bind-value-to="strokeWidth">
                            </div>

                            <div>
                                <button type="button" class="btn btn-object-action"
                                        ng-click="toggleBold()"
                                        ng-class="{'btn-inverse': isBold()}">
                                    Bold
                                </button>
                                <button type="button" class="btn btn-object-action" id="text-cmd-italic"
                                        ng-click="toggleItalic()"
                                        ng-class="{'btn-inverse': isItalic()}">
                                    Italic
                                </button>
                                <button type="button" class="btn btn-object-action" id="text-cmd-underline"
                                        ng-click="toggleUnderline()"
                                        ng-class="{'btn-inverse': isUnderline()}">
                                    Underline
                                </button>
                                <button type="button" class="btn btn-object-action" id="text-cmd-linethrough"
                                        ng-click="toggleLinethrough()"
                                        ng-class="{'btn-inverse': isLinethrough()}">
                                    Linethrough
                                </button>
                                <button type="button" class="btn btn-object-action" id="text-cmd-overline"
                                        ng-click="toggleOverline()"
                                        ng-class="{'btn-inverse': isOverline()}">
                                    Overline
                                </button>
                            </div>

                        </div>
                    </div>

                </div>

                <div id="shirt-position">
                    <canvas id="canvas" width="224" height="350"></canvas>
                    <!--<div class="clear"></div>-->
                    <div class="tool-control">
                        <div class="remove-object" title="Remove object" ng-click="removeSelected()"></div>
                        <div class="clear-canvas" title="Clear object" ng-click="confirmClear()"></div>

                        <div class="save-design" title="Save design" ng-click="saveCanvas()"></div>
                        <div class="clear"></div>
                        <div style="margin-top:15px;">
                            <input type="hidden" name="ObjectID" id="ObjectID" />
                            <button id="send-to-back" class="btn btn-object-action" ng-click="sendToBack();canvasCtrl.saveCanvasAuto();tempAlert();">Send to back</button>
                            <button id="bring-to-front" class="btn btn-object-action" ng-click="bringToFront();canvasCtrl.saveCanvasAuto();tempAlert();">Bring to front</button>
                            <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#selectSizeModal" ng-click="selectShirtDesign(shirtDesign)">
                                to cart
                            </button>-->
                            <!--<button ng-click="tempToPNG()">Save as png to parse</button>-->
                        </div>
                    </div>
                </div>

                <!--Collection-->
                <div id="collection_main_container" ng-controller="CollectionController as colCtrl">

                    <h3 id="collection_header">Explore Collections</h3>

                    <select ng-model="searchSelection" class="form-control" style="">
                        <option>All</option>
                        <option>Popular</option>
                        <option>New</option>
                        <option>Trending</option>

                    </select>

                    <input type="text" class="form-control" ng-model="searchText" placeholder="Leave empty to search all." />
                    <input type="button" class="btn" value="Search" ng-click="startSearch()" />

                    <div ng-hide="isShowDetail" class="collectionDisplayArea">
                        <div ng-hide="collectionDataArray.length">No result found for "{{searchResultText}}".</div>
                        <div ng-repeat="collection in collectionDataArray" ng-click="showDetail(collection)" class="eachCollectionArea">
                            <h5 class="collectionHeader">{{getCollectionName(collection)}} <span class="thin-italic-font"> by {{getCollectionDesignerName(collection)}}</span></h5>

                            <!--<img ng-repeat="image in images" ng-src="{{getImageURL(image)}}"/>-->
                            <img ng-src="{{getPreviewImage1URL(collection)}}" class="previewThumbnail" />
                            <img ng-src="{{getPreviewImage2URL(collection)}}" class="previewThumbnail" />
                            <img ng-src="{{getPreviewImage3URL(collection)}}" class="previewThumbnail" />
                            <p id="more-dots">...</p>
                        </div>
                    </div>

                    <div ng-show="isShowDetail" class="collectionDisplayArea">

                        <h5 class="collectionHeader">{{detailedCollectionName}}</h5>
                        <button ng-click="backToList()" class="btn" id="backButton">Back</button><br />

                        <img ng-repeat="design in collectionDetailArray" ng-src="{{getImageURL(design)}}" class="imageThumbnail" ng-click="addImageFromCollection(design)" />
                        <br />
                        <p ng-show="moreDesignArray.length" class="collectionHeader moreDesignHeader">
                            More design by {{selectedCollectionDesigner}}</>
                            <br />
                            <img ng-repeat="design in moreDesignArray" ng-src="{{getImageURL(design)}}" class="imageThumbnail" ng-click="addImageFromCollection(design)" />

                    </div>

                </div>

                <div class="clear"></div>

            </div>
            <!-- /position-control -->

        </div>
        <!-- /.row -->

    </div>
    <div class="row" ng-show="shirtsDesignedByUser">
        <h3>Your shirt design</h3>
        <div ng-repeat="shirtDesign in shirtsDesignedByUser" class="col-md-3" ng-style="{'background-image': getItem(shirtDesign)}" style="background-size:cover">
            <img ng-src="{{getDesignImageURL(shirtDesign)}}" style="height:210px;width:100px;margin-top:70px" class="center-block" />
            <p>{{getPrice(shirtDesign)}}</p>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#selectSizeModal" ng-click="selectShirtDesign(shirtDesign)">
                to cart
            </button>
            <button class="btn-xs" ng-click="loadDesign(shirtDesign)">load</button>
        </div>

    </div>

    <select-size-modal></select-size-modal>

</div>



<script type="text/javascript">

    //window.onbeforeunload = function () {
    //    return "Data will be lost if you leave the page, are you sure?";
    //};
    var yourTshirtDesign = {};
    var canvas = new fabric.Canvas('canvas');
    //var backCanvas = new fabric.Canvas('backCanvas');

</script>
<!-- /.container -->