﻿<div class="container" ng-controller="paymentController">
    <div class="row">
        <div class="col-md-9">

            <h2>Shopping cart</h2>

            <div ng-show="isCartEmpty">
                Cart is empty.
            </div>

            <div ng-repeat="itemInCart in itemsInCart" class="row">
                <div class="col-md-4" ng-style="{'background-image': getItemTypeBackground(itemInCart) }" style="background-size:cover">
                    <img ng-src="{{getDesignImageURL(itemInCart)}}" style="height:210px;width:100px;margin-top:70px" class="center-block" />
                </div>
                <div class="col-md-4">
                    <p>Design name: {{getDesignName(itemInCart)}}</p>
                    <p>Item: {{getItemType(itemInCart)}}</p>
                    <p>Color: {{getColor(itemInCart)}}</p>
                    <p><a href="" ng-click="saveForLater(itemInCart,$index)">save for later</a></p>

                </div>
                <div class="col-md-4">
                    <p>Size S: {{getSizeS(itemInCart)}}</p>
                    <p>Size M: {{getSizeM(itemInCart)}}</p>
                    <p>Size L: {{getSizeL(itemInCart)}}</p>
                    <p>Size XL: {{getSizeXL(itemInCart)}}</p>
                    <p>Size XXL: {{getSizeXXL(itemInCart)}}</p>
                    <p><strong>{{getTotalPrice(itemInCart)}}</strong></p>
                    <p><em>Delivery method: Free EMS shipping.</em></p>
                </div>

            </div>
            <div ng-hide="isSaveEmpty">
                <h3>Save for later</h3>
                <div ng-repeat="item in itemsSavedForLater" class="row">
                    <div class="col-md-4" ng-style="{'background-image': getItemTypeBackground(item) }" style="background-size:cover">
                        <img ng-src="{{getDesignImageURL(item)}}" style="height:210px;width:100px;margin-top:70px" class="center-block" />
                    </div>
                    <div class="col-md-4">
                        <p>Design name: {{getDesignName(item)}}</p>
                        <p>Item: {{getItemType(item)}}</p>
                        <p>Color: {{getColor(item)}}</p>
                        <p><a href="" ng-click="moveToCart(item)">move to cart</a></p>

                    </div>
                    <div class="col-md-4">
                        <p>Size S: {{getSizeS(item)}}</p>
                        <p>Size M: {{getSizeM(item)}}</p>
                        <p>Size L: {{getSizeL(item)}}</p>
                        <p>Size XL: {{getSizeXL(item)}}</p>
                        <p>Size XXL: {{getSizeXXL(item)}}</p>
                        <p><strong>{{getTotalPrice(item)}}</strong></p>
                        <p><em>Delivery method: Free EMS shipping.</em></p>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-md-3">
            <div >
                <div class="row">
                    <!--<h4>Shipping Address <a href="" data-toggle="modal" data-target="#addAddressModal"><em><small>add/select</small></em></a></h4>-->
                    <h4>Shipping Address <a href="" ng-click="toggleModal('#addAddressModal')"><em><small>add/select</small></em></a></h4>
                    <p ng-hide="selectedAddress"><em>Please add your shipping address</em></p>
                    <p ng-show="selectedAddress">{{getFullAddress(selectedAddress)}}</p>
                </div>
                <div class="row">
                    <h4>Payment Method <a href="" ng-click="toggleModal('#addPaymentModal')"><em><small>add/select</small></em></a></h4>
                    <p ng-hide="selectedCard"><em>Please add your payment method</em></p>
                    <p ng-show="selectedCard">**** **** **** {{selectedCard.last_digits}} {{selectedCard.bank}}</p>
                </div>
                <div class="row">
                    <h4>Sub Total</h4>
                </div>
                <div class="row">
                    <p>{{checkOutPrice}}</p>
                </div>
                <button class="btn btn-lg" style="width:100%" ng-click="reviewOrder()">Review &hearts; Order</button>
               

            </div>

        </div>
    </div>

    <add-address-modal></add-address-modal>
    <add-payment-modal></add-payment-modal>
    <review-confirm-modal></review-confirm-modal>

</div>