﻿<div class="container">
    <h2>ขั้นตอนของเรา</h2>
    <div class="row" style="min-height:50px">
        <div class="col-md-4">
            <h3>สร้างสรรค์</h3>
            <p>สร้างสรรค์งานออกแบบของคุณ ไม่ว่าจะเป็นงานออกแบบที่มีอยู่แล้วหรือ มีแรงบรรดาลใจสร้างสรรค์ใหม่ๆ หากงานออกแบบของท่านป็นของแท้ เราพร้อมและยินดีอย่างยิ่ง ในการทำงานร่วมกับท่าน.</p>
        </div>
        <div class="col-md-4">
            <h3>ส่ง</h3>
            <p>ส่งงานออกแบบของคุณมาที่เรา เพื่อทำการตรวจสอบถึงความเป้นของแท้ ความละเอียดของภาพ เพื่อเตรียมความพร้อมในการทำงานร่วมกับเรา และนอกจากนี้ หมดกังวลในเรื่องลิขสิทธิ์ของคุณ งานออกแบบของคุณยังคงเป็นของคุณเสมอ เราไม่มีพันธะผูกพันธ์งานออกแบบของคุณกับเวบไซต์เราใดๆทั้งสิ้น.</p>
        </div>
        <div class="col-md-4">
            <h3>สร้างรายได้</h3>
            <p>เมื่อทุกอย่างผ่านการตรวจสอบและดำเนินการสู่เวบไซต์ของเราเสร็จสิ้น คุณสามารถโปรโมทงานของท่านผ่าน yourtshirt.design/<em>username</em> ได้ทันที.</p>
        </div>
    </div>
    <div class="row" style="margin-top:30px">
        <div class="col-md-4"></div>
        <div class="col-md-4 " >
            <p class="text-right"><a href=""><strong>ข้อกำหนดในการส่งผลงาน</strong></a></p>
            <button class="center-block btn-lg submit-design-button">ติดต่อเราเพื่อส่งผลงาน</button>

        </div>
        <div class="col-md-4"></div>
        
    </div>
    <h2>คำนิยมจากดีไซเนอร์ที่ร่วมกับเรา</h2>
    <div class="row" style="margin:20px">
        <div class="col-md-3">
            <img style="width:70%" class="img-responsive center-block"  src="../img/empty_user.svg"/>
            <h3>Designer name</h3>
            <p>Non luctus mauris interdum nec. Nunc commodo in libero at venenatis. Donec eleifend, 
            neque vitae ornare aliquet, nunc est iaculis sapien, a facilisis odio tellus sed dolor.
             Nulla pretium pretium dolor eget hendrerit. Quisque cursus varius nunc, a fermentum nisl dignissim ac.
             pellentesque finibus tortor ut fermentum.</p>
        </div>
        <div class="col-md-3">
            <img style="width:70%" class="img-responsive center-block" src="../img/empty_user.svg" />
            <h3>Designer name</h3>
            <p>Lorem ipsum dolor sit amet, non luctus mauris interdum nec. Nunc commodo in libero at venenatis.t
            . Quisque rhoncus tortor quis odio auctor, quis fringilla massa aliquet. Integer accumsan id mi at f
            ermentum. Mauris pellentesque finibus tortor ut fermentum.</p>
        </div>
        <div class="col-md-3">
            <img style="width:70%" class="img-responsive center-block" src="../img/empty_user.svg" />
            <h3>Designer name</h3>
            <p>Diam, non luctus mauris interdum nec. Nunc commodo in libero at venenatis. Donec eleifend, neque 
            vitae ornare aliquet, nunc est iaculis sapien, a facilisis odio tellus sed dolor. Nulla pretium preti
            dio auctor, quis fringilla massa aliquet. Integer accumsan id mi at fermentum. Mauris pellentesque fin
            ibus tortor ut fermentum.</p>
        </div>
        <div class="col-md-3">
            <img style="width:70%" class="img-responsive center-block" src="../img/empty_user.svg" />
            <h3>Designer name</h3>
            <p>Ctus mauris interdum nec. Nunc commodo in libero at venenatis. Donec eleifend, neque vitae ornare           
             hendrerit. Quisque cursus varius nunc, a fermentum nisl dignissim ac. Nunc vestibulum diam at liberoquis fringilla massa aliquet. Integer accumsan id mi at fermentum. Mauris pellentesque finibus tortor
             ut fermentum.</p>
        </div>
    </div>

</div>