<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
				<img class="img-responsive img-home-portfolio" src="img/custom-tank-tops.jpg">
            </div>
        </div>
        <!-- /.row -->

        <div class="row-none">
            <div class="col-lg-4 col-md-4 col-sm-6 col-bd">
				<h4>ออกแบบอย่างง่ายดาย</h4>
                คุณสามารถออกแบบสินค้าเองได้อย่างง่ายดาย เพียงลากและวางจนกว่าคุณจะพอใจ รวมถึงการใส่ข้อความต่างๆก็ยังทำได้อย่างเรียบง่ายอีกด้วย
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-bd">
				<h4>ด้วยแบบที่คุณรัก</h4>
                เรามีแบบงานศิลปะให้คุณนำไปใช้ในการสร้างสรรค์ชิ้นงานได้อย่างไม่จำกัด ทั้งจากแบบที่เรามีให้ฟรี และจากนักออกแบบมืออาชีพที่เข้าร่วมกับเรา เพื่อให้ลูกค้าสามารถเลือกแบบได้ตามใจชอบอย่างมากมาย ในที่เดียว
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 ">
				<h4>พร้อมสร้างสรรค์และส่งมอบ</h4>
                เมื่อคุณออกแบบจนพอใจ ที่เหลือปล่อยให้เป็นหน้าที่ของเรา ตั้งแต่่การผลิตจนถึงส่งมอบถึงมือขอบคุณ ลดขั้นตอนความยุ่งยากในการสร้างสรรค์ชิ้นงานและการจัดส่งโดยให้เป็นหน้าที่ของเราในการจัดการให้คุณทั้งหมด
            </div>
		</div>
        <div class="clear"></div>
                    
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h3>แบบที่ได้รับความนิยม</h3>
            </div><div class="clear"></div>           
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="img/img/700x450.png">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="img/img/700x450.png">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="img/img/700x450.png">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="img/img/700x450.png">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="img/img/700x450.png">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="img/img/700x450.png">
                </a>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h3>คุณภาพสินค้า</h3>
                <!--<ul>
                    <li>Bootstrap 3 Framework</li>
                    <li>Mobile Responsive Design</li>
                    <li>Predefined File Paths</li>
                    <li>Working PHP Contact Page</li>
                    <li>Minimal Custom CSS Styles</li>
                    <li>Unstyled: Add Your Own Style and Content!</li>
                    <li>Font-Awesome fonts come pre-installed!</li>
                    <li>100% <strong>Free</strong> to Use</li>
                    <li>Open Source: Use for any project, private or commercial!</li>
                </ul>-->
                <p>
                เนื้อผ้าของสินค้าเราใช้ผ้าฝ้าย 100% ที่ได้รับการยอมรับอย่างแพร่หลาย เพื่อให้ลูกค้ารู้สึกถึงความสบายเมื่อสวมใส่ทุกครั้ง และใช้เทคโนโลยีในการสกรีนแบบ poly flex PU เพื่อให้งานสกีรนเรียบเนียนไปกับเนื้อผ้า ซึ่งมีความทนทานต่อการรีดและการซักเป็นอย่างดี
                </p>
                <a href="" data-toggle="modal" data-target="#qualityModal">รายละเอียดเพิ่มเติม...</a>
   
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="img/img/700x450.png">
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="img/img/700x450.png">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>การขนส่ง</h2>
                <!--<ul>
                    <li>Bootstrap 3 Framework</li>
                    <li>Mobile Responsive Design</li>
                    <li>Predefined File Paths</li>
                    <li>Working PHP Contact Page</li>
                    <li>Minimal Custom CSS Styles</li>
                    <li>Unstyled: Add Your Own Style and Content!</li>
                    <li>Font-Awesome fonts come pre-installed!</li>
                    <li>100% <strong>Free</strong> to Use</li>
                    <li>Open Source: Use for any project, private or commercial!</li>
                </ul>-->
                <p>
                เพื่อความไว้วางใจในการขนส่ง เราเลือกผู้จัดส่งที่มีความสามารถในการติดตามสถานะของสินค้าได้ เพื่อความสบายใจของลูกค้า และเป็นการยืนยันว่าสินค้าจะถึงลูกค้าอย่างแน่นอน
                </p>
                <a href="" data-toggle="modal" data-target="#deliveryModal">รายละเอียดเพิ่มเติม...</a>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h3>ราคา</h3>
                <!--<ul>
                    <li>Bootstrap 3 Framework</li>
                    <li>Mobile Responsive Design</li>
                    <li>Predefined File Paths</li>
                    <li>Working PHP Contact Page</li>
                    <li>Minimal Custom CSS Styles</li>
                    <li>Unstyled: Add Your Own Style and Content!</li>
                    <li>Font-Awesome fonts come pre-installed!</li>
                    <li>100% <strong>Free</strong> to Use</li>
                    <li>Open Source: Use for any project, private or commercial!</li>
                </ul>-->
                <p>
                เรามีการคิดราคาสินค้าที่แปลกใหม่แต่เรียบง่ายเพื่อเป็นประโยชน์สูงสุดแก่ลูกค้าและนักออกแบบที่ร่วมกับเรา ลูกค้าสามารถออกแบบโดยใช้แบบฟรีที่เรามีให้ด้วยราคามาตรฐาน และเพิ่มเติมตามจำนวนนักออกแบบที่โดนนำแบบไปใช้ในสินค้าหรือเรียกว่า pay per designer หมายความว่าลูกค้าสามารถใช้แบบจำนวนเท่าใดก็ได้จากนักออกแบบคนนั้นในการออกแบบสินค้าจนกว่าลูกค้าจะพอใจ
                </p>
                <a href="" data-toggle="modal" data-target="#pricingModal">รายละเอียดเพิ่มเติม...</a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="img/img/700x450.png">
            </div>
        </div>
        <!-- /.row -->

    </div>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-sm-8">
                <h3>Let's Get In Touch!</h3>

                <p>
                    Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats
                    vitaes nemo minima rerums unsers sadips amets. Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                    veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                </p>

                <form role="form" method="POST" action="#">
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <label for="input1">Name</label>
                            <input type="text" name="contact_name" class="form-control" id="input1">
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="input2">Email Address</label>
                            <input type="email" name="contact_email" class="form-control" id="input2">
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="input3">Phone Number</label>
                            <input type="phone" name="contact_phone" class="form-control" id="input3">
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-lg-12">
                            <label for="input4">Message</label>
                            <textarea name="contact_message" class="form-control" rows="6" id="input4"></textarea>
                        </div>
                        <div class="form-group col-lg-12">
                            <input type="hidden" name="save" value="contact">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-sm-4">
                <h3>Modern Business</h3>
                <div class="fb-like"
                     data-share="true"
                     data-width="450"
                     data-show-faces="true">
                </div>
                <h4>A Start Bootstrap Template</h4>

                <p>
                    5555 44th Street N.<br>
                    Bootstrapville, CA 32323<br>
                </p>

                <p><i class="fa fa-phone"></i> <abbr title="Phone">P</abbr>: (555) 984-3600</p>

                <p>
                    <i class="fa fa-envelope-o"></i> <abbr title="Email">E</abbr>: <a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a>
                </p>

                <p><i class="fa fa-clock-o"></i> <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM</p>
                <ul class="list-unstyled list-inline list-social-icons">
                    <li class="tooltip-social facebook-link">
                        <a href="#facebook-page" data-toggle="tooltip"
                           data-placement="top" title="Facebook">
                            <i class="fa fa-facebook-square fa-2x"></i>
                        </a>
                    </li>
                    <li class="tooltip-social linkedin-link">
                        <a href="#linkedin-company-page" data-toggle="tooltip"
                           data-placement="top" title="LinkedIn">
                            <i class="fa fa-linkedin-square fa-2x"></i>
                        </a>
                    </li>
                    <li class="tooltip-social twitter-link">
                        <a href="#twitter-profile" data-toggle="tooltip"
                           data-placement="top" title="Twitter">
                            <i class="fa fa-twitter-square fa-2x"></i>
                        </a>
                    </li>
                    <li class="tooltip-social google-plus-link">
                        <a href="#google-plus-page" data-toggle="tooltip"
                           data-placement="top" title="Google+">
                            <i class="fa fa-google-plus-square fa-2x"></i>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <!-- /.row -->

    </div><!-- /.container -->
    <!-- /.container -->

</div>
<!-- /.section -->
<!--section-colored text-center-->


<quality-modal></quality-modal>
<delivery-modal></delivery-modal>
<pricing-modal></pricing-modal>
