﻿<div ng-controller="ManageOrderController" class="container">
    <h2>Your Orders</h2>
    <div class="row">
        <div class="col-md-3">Order date</div>
        <div class="col-md-3">Price</div>
        <div class="col-md-3">Payment status</div>
        <div class="col-md-3">Delivery status</div>
    </div>
    <div class="row" ng-repeat="order in userOrders">        
        <a href="" ng-init="order.open = false" ng-click="order.items = getItemsInOrder(order); order.open = !order.open">
            <div class="col-md-3">{{getOrderTime(order)}}</div>
            <div class="col-md-3">{{getOrderPrice(order)}} Baht</div>
            <div class="col-md-3">{{getOrderPaidStatus(order)}}</div>
            <div class="col-md-3">{{getOrderDeliveryStatus(order)}}</div>
        </a>
        <div class="row" ng-repeat="item in order.items" ng-show="order.open">
            
            <div class="col-md-2" ng-style="{'background-image': getItemTypeBackground(item) }" style="background-size:cover">
                <img ng-src="{{getDesignImageURL(item)}}" style="height:210px;width:100px;margin-top:70px" class="center-block" />
            </div>
            <div class="col-md-4">Size</div>
            <div class="col-md-4">Total</div>
        </div>
    </div>
</div>
