﻿<div class="container">
    <div class="row">
       <div>
           Thank you for your purchase
       </div>
        <div>
            You can manage your order <a href="#/manageorder">here</a>
        </div>
        <div>
            Or create more dsign <a href="#/canvas">here</a>
        </div>
    </div>
</div>
