﻿<!DOCTYPE html>
<html ng-app="admin">
<head>
    <title></title>
	<meta charset="utf-8" />

    <script src="//www.parsecdn.com/js/parse-1.6.14.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="admin.js"></script>
</head>
<body  ng-controller="UploadDesignController">
    
        <input type="text" placeholder="Designer name" ng-model="searchWithNameInput"/>
        <button ng-click="searchUserWithName()">search with name</button>
        <p>or</p>
    <input type="text" placeholder="Designer id" ng-model="searchWithIdInput" />
    <button ng-click="searchUserWithId()">search with id</button>
    <div ng-repeat="user in users" ng-click="selectUser(user)">
        <p>{{getUserName(user)}}</p>

    </div>
    
    <div ng-show="selectedUser">
        ///////////////User to upload file to//////////////////////
        <p>ID:{{selectedUser.id}} </p>
        <p>Firstname:{{selectedUser.firstName}}</p>
        <p>Lastname:{{selectedUser.lastName}}</p>
        <p>Email:{{selectedUser.email}}</p>
        ////////////////////////////////////////////////////////
    </div>
    <!--Create with new collection & new design-->
    <div ng-show="selectedUser">        
        <input type="text" placeholder="Colelction name" ng-model="collectionName"/>
        <!--select files-->
        <input type="file" multiple id="filesChosen"/>

        <button ng-click="uploadToServer()">Upload to server</button><br/>

    </div>
    
    
    <div>

    </div>
   
    
</body>
</html>
