﻿<div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add and select address</h4>
            </div>
            <div class="modal-body container-fluid">

                <div class="row">
                    Full name: <input type="text" ng-model="newReceiverFullName"/><br />
                    Address line1: <input type="text" ng-model="newAddressLine1"/><br />
                    Address line2: <input type="text" ng-model="newAddressLine2" /><br />
                    City:<input type="text" ng-model="newAddressCity"/><br />
                    Province: <input type="text" ng-model="newAddressProvince" /><br />
                    Post code: <input type="text" ng-model="newAddressPostCode" /><br />
                    <button ng-click="saveAddress()">save address</button>
                </div>
                <div class="row">
                    <div class="row" ng-repeat="address in userAddress" >

                        {{getFullAddress(address)}}
                        <button class="btn-sm" ng-click="selectAddress(address)">select</button>
                        <button class="btn-sm" ng-click="deleteAddress(address,$index)"> delete</button>
                    </div>
                    
                </div>

            </div>
            <div class="modal-footer">
                
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>


            </div>
        </div>
    </div>
</div>