﻿<div class="modal fade" id="addPaymentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add or select payment method</h4>
            </div>
            <div class="modal-body container-fluid">

                <div class="row">
                    <input type="text" ng-model="newCardHolderName" placeholder="Name on card."/>
                    <input type="number" ng-model="newCardNumber" placeholder="Credit card number" />
                    <select ng-model="newCardExpirationMonth" ng-init="newCardExpirationMonth = 'Month'">
                        <option>Month</option>
                        <option value="1">01</option>
                        <option value="2">02</option>
                        <option value="3">03</option>
                        <option value="4">04</option>
                        <option value="5">05</option>
                        <option value="6">06</option>
                        <option value="7">07</option>
                        <option value="8">08</option>
                        <option value="9">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                    <select  ng-model="newCardExpirationYear" ng-init="newCardExpirationYear = 'Year'">
                        <option>Year</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                        <option value="2027">2027</option>
                    </select>
                    <input type="number" placeholder="SCV" ng-model="cardSecurityCode"/>
                    <br /><button ng-click="addCreditCard()">Verify and add</button>
                <div class="row">
                    <div ng-repeat="card in userCards">
                        last digit {{card.last_digits}}
                        <button class="btn-xs" ng-click="selectCard(card)">select</button>
                        <button class="btn-xs" ng-click="deleteCard(card,$index)">delete</button>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>


            </div>
        </div>
    </div>
</div>