<nav class="navbar navbar-inverse navbar-fixed-top header-height brand-color" role="navigation">
    <div class="container header-height">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
            <a style="font-size:2em ;height:100%" class="navbar-brand text-center " href="#/" ><span class="yourtshirt-text">MEshirtDesign</span><span class="design-text">.com</span></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse" ng-init="signingUp = false" >
            <ul class="nav navbar-nav navbar-right" style="padding-right:15px !important; padding-top:10px">
                <!--<li><a href="#/about">เกี่ยวกับเรา</a></li>
                <li><a href="#/services">คุณภาพและการจัดส่ง</a></li>-->
                <!--<li ng-hide="logInState"><div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="false"></div></li>-->
                <li ng-hide="logInState"><button class="btn-sm" ng-click="fbLogIn()">fb login</button></li>
                <!--<li><a href="#/contact">ติดต่อเรา</a></li>-->
                <li ng-hide="logInState"><input type="email" class="form-control"placeholder="email" ng-model="userEmail" /></li>
                <li ng-hide="logInState"><input type="password" class="form-control" placeholder="password" ng-model="userPassword"/></li>
                <li ng-hide="logInState"><input type="button" class="btn" value="Sign In" ng-click="signIn()"/></li>
                <!--<li ng-hide="logInState"><input type="button" value="Sign Up" ng-click="signUp()" /></li>-->
                <!--<li ng-hide="logInState"><a href="" ng-click="signingUp = !signingUp" >Sign up!</a></li>
                <li ><a href="" ng-click="toggleModal()">toggle modal</a></li>-->
                <li ng-hide="logInState">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signUpModal">
                        sign up!
                    </button>

                </li>
                
                <li class="dropdown" ng-show="logInState">
                    <a class="dropdown-toggle" data-toggle="dropdown">{{FirstName}} {{LastName}}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="">ID: {{Id}}</a></li>
                        <li class="divider"></li>
                        <li><a href="#/profile">Proflie Page</a></li>
                        <li><a href="#/manageorder">Your order</a></li>
                        <li class="divider"></li>
                        <li><a href="" ng-click="logOut()">logout</a></li>          
                                      
                    </ul>
                    <!--<ul class="dropdown-menu">
                        <li><a href="#/blog">ประวัติส่วนตัว</a></li>
                        <li><a href="#/blog/post">ออกจากระบบ</a></li>
                        <li><label ng-click="helloHeader()">Hello!</label></li>
                    </ul>-->
                </li>

                <li><a href="#/cart" title="ตะกร้าสินค้า" style="padding:5px 5px 5px 5px !important;"><img src="/img/shopping-cart.png"/></a></li>
                <li><a href="#/designer">มุมนักออกแบบ</a></li>
            </ul>
        </div>

    </div>

</nav>
<div class="container">
    <div class="row header-height" ></div>
</div>


