﻿<div class="modal fade" id="reviewConfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Review and Confirm order.</h4>
            </div>
            <div class="modal-body container-fluid">

                <div class="row">
                    <div class="col-md-4">
                    Shipping Address
                        <p>
                            {{getFullAddress(selectedAddress)}}
                        </p>
                    </div>
                    <div class="col-md-4">
                    Payment Method
                        <p>{{selectedCard.name}}</p>
                        <p>**** **** **** {{selectedCard.last_digits}}</p>
                        <p>{{selectedCard.financing}}</p>
                        <p>{{selectedCard.brand}}</p>
                    </div>
                    <div class="col-md-4">
                    Total
                        {{checkOutPrice}} Baht.
                    </div>
                </div>


            </div>
            <div class="modal-footer">

                <button class="btn btn-default" ng-click="placeOrder();">Place your order.</button>
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->


            </div>
        </div>
    </div>
</div>