﻿<div class="modal fade" id="selectSizeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Quality</h4>
            </div>
            <div class="modal-body container-fluid">
                
               <div class="row">
                   <div class="col-md-7">
                       <div class="row">
                           <div class="col-md-9" ng-style="{'background-image': getItem(selectedShirtDesign)}" style="background-size:cover">
                               <img ng-src="{{getDesignImageURL(selectedShirtDesign)}}" style="height:210px;width:100px;margin-top:70px" class="center-block" />
                               <p>{{getPrice(selectedShirtDesign)}}</p>


                           </div>

                       </div>
                       

                   </div>
                   <div class="col-md-5">
                       <div class="row" ng-init="sizeS = 0">S <button ng-click="sizeS = sizeS - 1"><</button><input type="text" ng-model="sizeS"/><button ng-click="sizeS = sizeS + 1">></button></div>
                       <div class="row" ng-init="sizeM = 0">M <button ng-click="sizeM = sizeM - 1"><</button><input type="text" ng-model="sizeM" /><button ng-click="sizeM = sizeM + 1">></button></div>
                       <div class="row" ng-init="sizeL = 0">L <button ng-click="sizeL = sizeL - 1"><</button><input type="text" ng-model="sizeL" /><button ng-click="sizeL = sizeL + 1">></button></div>
                       <div class="row" ng-init="sizeXL = 0">XL <button ng-click="sizeXL = sizeXL - 1"><</button><input type="text" ng-model="sizeXL" /><button ng-click="sizeXL = sizeXL + 1">></button></div>
                       <div class="row" ng-init="sizeXXL = 0">XXL <button ng-click="sizeXXL = sizeXXL - 1"><</button><input type="text" ng-model="sizeXXL" /><button ng-click="sizeXXL = sizeXXL + 1">></button></div>

                   </div>
               </div>
                    
                
           </div>
            <div class="modal-footer">
                <button type="button" class="btn" ng-click="addItemsToCart()">Add item to carts</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               

            </div>
        </div>
    </div>
</div>

