﻿<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Welcome to yourTshirt.design</h4>
            </div>
            <div class="modal-body">
                <input type="text" ng-model="signUpFirstName" placeholder="First Name" class="form-control"/>
                <input type="text" ng-model="signUpLastName" placeholder="Last Name" class="form-control"/>
                <br />
                <input type="email" ng-model="signUpEmail" placeholder="Email" class="form-control"/>
                <p><em><small>Your email will be used as username upon login.</small></em></p>
                
                <input type="password" ng-model="signUpPassword" placeholder="Password" class="form-control"/>
                <input type="password" ng-model="signUpConfirmPassword" placeholder="Confirm Password" class="form-control"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="signUp()">{{signUpButtonText}}</button>
              
            </div>
        </div>
    </div>
</div>
